h3
{
font-size:25px !important;
}

.btn-success:hover{
    background-color:rgb(139, 127, 176);
}

canvas{
    animation-name:Shadow;
    animation-duration:4s;
    animation-iteration-count:infinite;
}
@keyframes Shadow
{
from{box-shadow:1px 1px 38px rgb(163, 3, 168);}
to{box-shadow:1px  1px  38px rgb(6, 20, 126);}
}

